﻿
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //ViewBag.SessionTest = "Dan the Man";
    Session["SessionTest"] = "Dan the Man";
}

<h2>Welcome</h2>

<ul>
    @for(int i=0; i < ViewBag.NumTimes; i++)
    {
        <li>@ViewBag.Message</li>
    }
</ul>





