﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ResponseObject.aspx.cs" Inherits="Assignment1.ResponseObject" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:LinkButton ID="lbtnDownload" runat="server" OnClick="lbtnDownload_Click">Download Summary.txt</asp:LinkButton>
        </div>
    </form>
</body>
</html>
