﻿@model IEnumerable<Class8Example1.Models.Classroom>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var classroomList = (IEnumerable<Class8Example1.Models.Classroom>)ViewBag.ClassroomList;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassroomId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClassroomId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClassroomId })
        </td>
    </tr>
}

</table>
