﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UserInfoBoxDynamic.aspx.cs" Inherits="Class2Example1.UserInfoBoxDynamic" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:PlaceHolder ID="PlaceHolder1" runat="server"></asp:PlaceHolder>
        </div>
    </form>
</body>
</html>
