﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ResponseObject.aspx.cs" Inherits="Class5Example1.ResponseObject"%>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:LinkButton ID="LinkButton1" runat="server" OnClick="LinkButton1_Click">Download Summary.txt</asp:LinkButton>
            <br />
            <asp:Label ID="Label1" runat="server"></asp:Label>
         </div>
    </form>
</body>
</html>
